<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/haui"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/haui"
        android:supportsRtl="true"
        android:theme="@style/Theme.De24cuoiki"
        tools:targetApi="31">
        <activity
            android:name=".dangkyy"
            android:exported="false" />
        <activity
            android:name=".dangnhapp"
            android:exported="false" />
        <activity
            android:name=".trogiup"
            android:exported="false" />
        <activity
            android:name=".huongdansudung"
            android:exported="false" />
        <activity
            android:name=".Main2"
            android:exported="false" />
        <activity
            android:name=".dientuvienthong"
            android:exported="false" />
        <activity
            android:name=".dientuysinh"
            android:exported="false" />
        <activity
            android:name=".mangmaytinh"
            android:exported="false" />
        <activity
            android:name=".kithuatmaytinh"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>